[submodule "external/underactuated"]
	path = external/underactuated
	url = https://github.com/wgtayar/underactuated.git
[submodule "external/spot"]
	path = external/spot
	url = https://github.com/wgtayar/Spot_jumping_LAvila.git
	branch = main